//Principal font
$helveticaNeue:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

//Purples
$brand-color: #3e3044;
$brand-color-medium: #312736;
$brand-color-darker: #271e2b;

//Grays
$light-gray: #f1f1f1;
$gray: #f9f9f9;
$dark-gray: #e0e0e0;

//Green
$brand-green: #20a766;

//Brand colors
$brand-color: #3e3044;
$brand-color-medium: #312736;
$brand-color-darker: #271e2b;

//Height variables
$full-height: 100vh;
$height-72: calc(100vh - 72px);
$height-144: calc(100vh - 144px);
$header__hight: 8.7vh;
$main__hight: 82.6vh;
$footer__hight: 72pxs;

//Fonts
$purple-font-light: #807385;
$purple-font: #793a98;
$gray-font: #9fa3a7;

// Colors
$header-left__background: #3e3044;
$header-right__background: #f5f5f5;
$main-left__background: #312736;
$main-center__background: #fff;
$main-right__background: #f9f9f9;
$footer-left__background: #271e2b;
$footer-right__background: #f9f9f9;