.dateMessage{
  font-size: 15.251px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(44, 43, 44);
  font-weight: bold;
}