*{
    margin: 0;
    padding: 0;
}
.wrapper{
  height: 100vh;
}
/*Modal*/
.modalLogin{
  border-radius:5px;  
  background-color:#f1f1f1;
  height: 60vh;
  width: 45%;
  top: 24.6987vh;
  margin: 0px 27.5% 0px 27.5%;
  position: absolute;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.containerLogoModal{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 6.5rem;
}
.imageLogoModal{
    padding: 1rem;
}
.textModal{
    width: 51,22%;
    color: #212121;
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    margin-top: 2.3rem;
    margin-bottom: -1.7rem;
}
.userNameInput{
    width: 187px;
    height: 30px;
    border-radius: 4px;
    background-color: #ffffff;
}
.containerInputsModal{
    display: flex;
    flex-direction: column;
    width: 65.61%; 
    margin-top: 4rem;
}
.inputRectangle{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.inputRectangleUser{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.informationText{
    display: flex;
    flex-direction: row;
}
.rectangleInput{
    width: 76.99%;
   height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border-radius: 4px 0 0 4px;
}
.rectangleInputUser{
    width: 98.65%;
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
}
.rectangleSubmitArrow{
    width: 21.39%;
    height: 40px;
    background-color: #20a766;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowSubmit{
    width: 58.8%;
    padding-top: 0.3rem;
    height: 23px;
}
/*Header - navbar*/
.header{
  background-color: #3e3044;
  height: 8.6767vh;
}

.navBar{
  color: #f5f5f5;
  flex: 1 1 auto;
  width: 85.93%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;
}

.linkHeader {
    margin: 3rem;
}
.buttonHeader {
    background-color: Transparent;
    height: 22px;
    border-radius: 2px;
    border: 1px solid #807385;
    margin: 1.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
.containerElementsNavBar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 8.6767vh;
}

.navBarLetters{
    width: 38px;
    height: 6px;
    color: #807385;
    font-family: 'Helvetica Neue';
    font-size: 15.251px;
    font-weight: 400;
    line-height: 13.5px;
}
/**/
.image-background {
    background-image: url('../../images/backgroundLogin.jpg');
    height: 37.1084vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    // width: 100vw;
}

.background{
    background-color: #ffffff;
    height: 54.2149vh;
}

/* Smartphones (portrait & landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .modalLogin {
        margin: 0;
        width: 100%;
        height: 100vh;
        top: 55px;
        left: 1.3px;
        border-radius: 0px;
    }
    // .image-background {
    //     height: 0;
    // }
    .navBar{
        justify-content: flex-start;
    }
    .backgroundElemnts{
        display: none;
    }
    .container-fluid {
        padding-right: 9px;
    }
    .buttonHeader {
        margin: 0.6rem;
        margin-right: -1rem;
    }
    .linkHeader{
        margin: 1.3rem;
    }

}


/*Responsive*/
@media only screen and (max-width: 690px) {
    .modalLogin {
        margin: 0;
        width: 100%;
        height: 100vh;
        top: 55px;
        left: 0.3px;
        border-radius: 0px;
    }
    // .image-background {
    //     height: 0;
    //        }
    .navBar{
           justify-content: flex-start;
    }
    .backgroundElemnts{
        display: none;
    }
    .container-fluid {
        padding-right: 9px;
    }
    .buttonHeader {
        margin: 0.6rem;
        margin-right: -1rem;
    }
    .linkHeader{
        margin: 1.3rem;
    }

}

@media screen and (device-aspect-ratio: 40/71) {
    .modalLogin {
        margin: 0;
        width: 100%;
        height: 100vh;
        top: 55px;
        left: 1.3px;
        border-radius: 0px;
    }
    // .image-background {
    //     height: 0;
    // }
    .navBar{
        justify-content: flex-start;
    }
    .backgroundElemnts{
        display: none;
    }
    .container-fluid {
        padding-right: 9px;
    }
    .buttonHeader {
        margin: 0.6rem;
        margin-right: -1rem;
    }
    .linkHeader {
        margin: 0.9rem;
    }

    .imageLogoModal {
        padding-right: 0rem;
    }

    .modalLogin {
        top: 49px;
    }
}

@media only screen and (max-width: 950px) and (min-width: 600px) {
  .image-background {
    height: 29.1084vh;
  }
}
// @media only screen and (max-width: 859px) and (min-width: 705px) {
//     .image-background {
//         top: -70px;
//   }
// }

@media only screen and (min-width : 1500px) {
  .modalLogin {
    width: 38%;
    left: 5rem;
  }
}
